
{% set title="Shedule" %}
{% set lang="en" %}

{% include 'parts/_head.html' %}

{% include 'parts/_header.html' %}
<h1>
Расписание
</h1>

{% set days = ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница'] %}
<ul>
    {% for day in days %}
        <li>
            {{ day }}
            <ul>
                <li>Задания</li>
                <li>Консультации</li>
            </ul>
        </li>
    {% endfor %}
        <li>
            Суббота, Воскресенье
        </li>
            <ul>
                <li>Выходной</li>
            </ul>
</ul>


{% include 'parts/_foot.html' %}